@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    @apply min-h-screen  flex flex-col items-center justify-center text-white px-5 py-20 relative
  }
  @font-face {
    font-family: offBit;
    src: url(/font/OffBitTrial-DotBold.ttf);
  }
  .head-font {
    font-family: offBit;
  }
}